<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Example App</title>
</head>

<body>
        <form action="/weather" method="POST">
            <input type="text" placeholder="Enter a City" name="cityName">
            <button type="submit" name="action">Submit</button>
        </form>
        
         <p>{{ weatherText }}</p>
</body>

</html>